<div class="h-dvh w-full flex items-center bg-[#cccccc] ">

  <div class="flex h-5/6 w-5/6 mx-auto shadow-xl rounded-3xl">

    <div class="bg-gradient-to-b from-[#1451a1]  to-[#2293f9] h-full w-1/2 rounded-l-3xl text-center p-10">


      <div class="text-white text-4xl mt-12">
        Welcome to
      </div>

    </div>
    <div class="h-full bg-white w-1/2 rounded-r-3xl ">


      <div class="p-5">


        <h1 class="text-4xl text-center mt-12">
          Login
        </h1>

        <div class="flex flex-col gap-3">
          <div class="flex flex-col">
            <label for="username">username</label>
            <input class="h-12 px-3 rounded-xl  border-solid border-2 border-gray-500 focus:outline-none focus:border-sky-500 focus:ring-1 focus:ring-sky-500" id="username" type="text">
          </div>

          <div class="flex flex-col">
            <label for="password">password</label>
            <input class="h-12 px-3  rounded-xl border-solid border-2 border-gray-500 focus:outline-none focus:border-sky-500 focus:ring-1 focus:ring-sky-500" id="password" type="text">
          </div>

          <button class="bg-[#1451a1] text-white rounded-md py-3">Login</button>
          <button (click)="onButtonClick()">Click Me</button>


        </div>


      </div>




    </div>


  </div>


</div>
