<h1>Angular Router App</h1>
<nav>
  <ul>
    <!-- <li><a routerLink="/login" routerLinkActive="active" ariaCurrentWhenActive="page">go to login</a></li>
    <li><a routerLink="/dasboard" routerLinkActive="active" ariaCurrentWhenActive="page">go to dashboard</a></li> -->
    <!-- <li> <button (click)="onButtonClick()" class="bg-[#1451a1] text-white rounded-md py-3">Login</button></li> -->
    <li> <button (click)="onButtonClick()" class="bg-[#1451a1] text-white rounded-md py-3">dashboard</button></li>
  </ul>
</nav>
<!-- The routed views render in the <router-outlet>-->
<router-outlet></router-outlet>